@import '../../variables.css';

.admin button.btn-primary {
  background-color: var(--dark-green);
  border-color: var(--dark-green);
  color: #fff;
}

.admin button.btn-primary:hover {
  border-color: var(--dark-green);
  background-color: #fff;
  color: var(--dark-green);
}