@import "../../variables.css";

footer {
  height: 10vh;
  min-height: 50px;
  
}

#social-media {
  background-color: var(--white);
}

#social-media ul {
  list-style: none;
}

#info {
  background-color: rgb(0, 0, 0);
  color: #f7f7f7;
}